<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
    <% include menu %>
        <h1>
            <%= title %>
        </h1>
        <p>填写以下信息进行注册</p>
        <% include messgaes %>
            <form action="/register" method="POST">
                <p>
                    <input type='text' name='user[name]' placeholder="Username" />
                </p>
                <p>
                    <input type='password' name="user[pass]" placeholder="Password" />
                </p>
                <p>
                    <input type='submit' value="注册" />
                </p>
            </form>
</body>

</html>